div{line-height: 2em;}
.var_notation span, .var_notation div {
    border-radius: 15%;
    background: #800080;
    border: 1px solid #800080;
    padding: 2em;
    margin: 1em;
    float: left;
    color:#fff

}
.var_notation span:hover, .var_notation div:hover{
    color:#800080;
    background:#fff;
    cursor: pointer;

}
.var_notation span.struct_var {
    border-radius: 15%;
    padding : 1em;
    background: #DA70D6;
    border: 1px solid #DA70D6;


}
.var_notation span.struct_var:hover{
    color:#DA70D6;
    background:#fff;
}

.thread_notation span {
    background-image: url("/static/media/TechComp.png");
    padding: 2em;
    margin: 1em;
    float: left;
    color: #000;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.thread_notation span#main{
    background-image: url("/static/media/TechCompMain.png");
}
.thread_notation span:hover{
    color:#82B366;
    cursor: pointer;

}

.func_notation span {
    background-image: url("/static/media/Logica_data.png");
    padding: 2em;
    margin: 1em;
    float: left;
    color: #000;
    min-width: 160px;
    min-height: 75px;
    max-width: 160px;
    max-height: 75px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;word-break: break-word;
}

.func_notation span:hover{
    color:#DC143C;
    opacity: 0.4%;
    cursor: pointer;

}

#plane{
    position: relative;
    width: 1000px;
    height: 500px;
}
.point{
    position: absolute;}
#point1{
    left: 10px;
    top: 30px;
    background-color: #447e9b;
    width: 10px;
    height: 10px;
}
#point2{
    left: 50px;
    top: 100px;
    background-color: #82B366;
    width: 10px;
    height: 10px;
}

#line{
    position: absolute;
    height: 2px;
    background-color: black;
}

/* Tabs */
.tabs {
  padding: 0 20px;
}
.tabs .level2 ,
.tabs .level1 {padding-top: 0; padding-bottom: 0 }
#tab-button {
  display: table;
  table-layout: fixed;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}
#tab-select option.lc_l1 {
    display: none;}
#tab-button li {
  display: table-cell;
  width: 20%;
}

#tab-button li.gray_tab {display: block;}
#tab-button li.gray_tab i.close {display: none;}

#tab-button li.gray_tab.is-active a.lc_l1{
    border-bottom-color: transparent;
    background-color: #5a6268;
    color: #ffffff;
}

#tab-button li#lc_l1_dig_input.is-active i.close,
#tab-button li#lc_l1_dig_output.is-active i.close,
#tab-button li#lc_l1_dig_process.is-active i.close{color: #5a6268;}

#tab-button li a {
    display: block;
    padding: .5em;
    /*background: #5bc0de;*/
    /*border: 1px solid #46b8da;*/
    /*color: #000;*/
    border-bottom-color: transparent;
    text-align: center;
    text-decoration: none;
    border-radius: 3px;

}
#tab-button li a:hover,
#tab-button .is-active a {
    /*border: 1px solid #2e6da4;*/
    border-bottom-color: transparent;
    background: #337ab7;
}

.home-boxes h2{
    padding: 0.5em;
    color: #17a2b8;
    font-size: 2em;
}

.tab-button-outer {
  display: none;
}
.tab-contents {
    margin: 10px 20px;
    /* display: none; */
}
.tab-contents .textual_container {
    width: 1570px;}
.tab-contents hr{border: 1px solid #2e6da4}
@media screen and (min-width: 768px) {
  .tab-button-outer {
    position: relative;
    z-index: 2;
    display: block;
  }
  .tab-select-outer {
    display: none;
  }
  .tab-contents {
    position: relative;
    top: -1px;
    margin-top: 0;
  }
}
.text_container ul.list_level0{
    list-style-type: number;
    margin-left: 0; padding-left: 1em;
}

.text_container ul.list_level1{
    list-style-type:circle ;
    margin-left: 0; padding-left: 1em;
}

.text_container ul.list_level2{
    list-style-type: square;
    margin-left: 0; padding-left: 1em;
}

.invalid_field, .invalid_field#empty-list {box-shadow: 0 .125rem .25rem #dc3545 !important; }
.invalid_field .empty-file, .invalid_field .wrong-format{margin-top: 5em;}
.file_uploaded a {
    color: #0c5460;
}
.file_uploaded p {color: #1b1b1b}

.time_stamp_text ul.list_level0{list-style: disc}
.time_stamp_text ul.list_level0 ul.list_level1{list-style: number; padding-left: 0.7em}

.level2 .main_tab {padding: 0px}
.level1 .gray_tab {padding-top: 0px}
.level1 .btn-light {background-color: #C0C0C0}

strong.see_it {font-weight: bold !important; color: #17a2b8}
select.select_tag_file {width: 100% !important; }

#content nav.navbar.navbar-default{margin-bottom: 0.5em;}