{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
     <nav class="navbar navbar-default col-md-12">
        <div class="container-fluid">
            <h2>{{ benchmark_name }} Benchmark</h2>
            <h4>Logical Data Level 2 - Execution Path for Threads</h4>
        </div>
    </nav>
    <div class="tabs col-md-12">
      <div class="tab-button-outer">
        <ul id="tab-button">
            <div class="tabs col-md-12">
                <div class="col-md-12 level2">
                  <li><a href="#tab01" class="btn-info">Execution Path for Threads </a></li>
                </div>
                <div class="col-md-12 level1">
                  <li id="lc_l1_dig">
                      <a href="#tab02" class="btn-secondary lc_l1"> Logical Data- Thread Exe Path -Level 1 </a>
                      <i class="far fa-window-close close"></i>
                  </li>
                </div>
            </div>
        </ul>
      </div>
        <div class="tab-select-outer">
            <select id="tab-select">
                <option value="#tab01">Execution Path of Threads </option>
                <option value="#tab02" class="lc_l1">Logical Data Level 1</option>

            </select>
        </div>
    </div>


    <div id="tab01" class="tab-contents">
        <div class="col-md-12 well diagram_container" id="exe_path_l2_dig"></div>
    </div>

    <div id="tab02" class="tab-contents">
        <div class="col-md-12 well diagram_container" id="exe_path_l1_dig"></div>
    </div>

    <div class="col-md-12 well text_container" style="display:  none" id="exe_path_l2_txt">
    </div>
{% endblock %}