{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <h2>{{ title_name }} </h2>
            <h2> Logical Data - Level 2 </h2>
            <h4> Operation of Functions</h4>
        </div>
    </nav>
    {% if not logical_data_funciton %}
        <div class="alert alert-danger" role="alert">
            <i class="fas fa-times"></i>
            No group for this level of Logical Data has been created.</br>
            The list of functions is Empty
        </div>
    {% else %}
        <div class="alert alert-info" role="alert">
            <i class="fas fa-info-circle" style="color: #17a2b8" aria-hidden="true"></i>
            There are <strong class="see_it" style="text-decoration: underline;">{{ logical_data_funciton|length }}</strong> Logical Data which are nested function:
            <ul>
                {% for dt in logical_data_funciton %}
                    <li><strong> {{ forloop.counter }}- {{ dt }}</strong></li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    <div class="tabs">
        <div class="tab-button-outer">
            <ul id="tab-button">
                <li><a href="#tab01" class="btn-info" style="display: none">Diagram</a></li>
                <li><a href="#tab02" class="btn-info" style="display: none">Textual</a></li>
            </ul>
            </div>
            <div class="tab-select-outer">
                <select id="tab-select">
                    <option value="#tab01">Diagram</option>
                    <option value="#tab02">Textual</option>
                </select>
            </div>
    </div>
    <div id="tab01" class="tab-contents">
        <div class="col-md-12 well diagram_container" id="logical_data_l2_function_diagram"></div>
    </div>
    <div id="tab02" class="tab-contents" style="display: none">
        <div class="col-md-12 well textual_container" id="logical_data_l2_function_textual">
            <ul class="list_level0">
                {% for k,v in logical_data_funciton.items %}
                    <li class="li-list_level0 col-3" style="border-left: 1px solid #2e6da4;">
                    <span>{{ k }}</span>
                        <ul class="list_level1">
                            {% for var, type in v.items %}
                                <li class="li-list_level1 {{ var }}">
                                    <span class="key">{{ var }}</span>
                                    <span class="value">{{ type }}</span>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <script src="{% static 'js/LD_L2_function.js' %}" type="text/javascript"></script>
{% endblock %}