{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
     <nav class="navbar navbar-default col-md-12">
        <div class="container-fluid">
            <h2>{{ title_name }} </h2>
            <h3> Logical Data - Level 3</h3>
            <h4> Overall view of whole program - Operation of Threads</h4>
        </div>
    </nav>
    <div class="tabs col-md-12">
      <div class="tab-button-outer">
        <ul id="tab-button">
            <div class="tabs col-md-12">
                <div class="col-md-12 level2">
                    <li class="col-md-3 main_tab"><a href="#tab07" class="btn-info">Operation of Threads</a></li>
                    <li class="col-md-3 main_tab"><a href="#tab09" class="btn-info">All Logical Data L3</a></li>
                    <li class="col-md-3 main_tab"><a href="#tab01" class="btn-info">Input for Threads </a></li>
                    <li class="col-md-3 main_tab"><a href="#tab02" class="btn-info">Output of Threads</a></li>
                    <li class="col-md-3 main_tab"><a href="#tab03" class="btn-info">Processed by Threads</a></li>
                </div>
                <div class="col-md-12 level1">

                    <li id="ld_l1_dig_all" class="col-md-3 gray_tab">
                      <a href="#tab08" class="btn-light lc_l1"> Logical Data-Thread operation-Level 1 </a>
                      <i class="far fa-window-close close"></i>
                    </li>
{#                    <li id="lc_l1_dig_input" class="col-md-3 gray_tab">#}
{#                      <a href="#tab04" class="btn-light lc_l1"> Logical Data-Thread Input-Level 1 </a>#}
{#                      <i class="far fa-window-close close"></i>#}
{#                    </li>#}
{#                    <li id="lc_l1_dig_output" class="col-md-3 gray_tab">#}
{#                      <a href="#tab05" class="btn-light lc_l1"> Logical Data-Thread Output-Level 1 </a>#}
{#                      <i class="far fa-window-close close"></i>#}
{#                    </li>#}
{#                    <li id="lc_l1_dig_process" class="col-md-3 gray_tab">#}
{#                      <a href="#tab06" class="btn-light lc_l1"> Logical Data-Thread Process-Level 1 </a>#}
{#                      <i class="far fa-window-close close"></i>#}
{#                  </li>#}
                </div>
            </div>
        </ul>
      </div>
        <div class="tab-select-outer">
            <select id="tab-select">
                <option value="#tab07">Operation of Threads</option>
                <option value="#tab08">Logical Data Level 1 - Operation of Threads</option>
                <option value="#tab01">Input for Threads </option>
                <option value="#tab02">Output of Threads</option>
                <option value="#tab03">Processed by Threads</option>
                <option value="#tab04" class="lc_l1">Logical Data Level 1 - Input</option>
                <option value="#tab05" class="lc_l1">Logical Data Level 1 - Output</option>
                <option value="#tab06" class="lc_l1">Logical Data Level 1 - Process</option>
            </select>
        </div>
    </div>

    <div id="tab07" class="tab-contents">
        <div class="col-md-12 diagram_container" id="logical_data_l3_all_dig"></div>
    </div>
    <div id="tab09" class="tab-contents">
        <div class="col-md-12 diagram_container" id="all_logical_data_l3_dig"></div>
    </div>
    <div id="tab08" class="tab-contents">
        <div class="col-md-12 diagram_container" id="logical_data_l2_all_dig"></div>
    </div>
    <div id="tab01" class="tab-contents">
        <div class="col-md-12 diagram_container" id="logical_data_l2_dig_input"></div>
    </div>
    <div id="tab02" class="tab-contents">
        <div class="col-md-12 diagram_container" id="logical_data_l2_dig_output"></div>
    </div>
    <div id="tab03" class="tab-contents">
        <div class="col-md-12 diagram_container" id="logical_data_l2_dig_process"></div>
    </div>
    <div id="tab04" class="tab-contents">
        <div class="col-md-12 diagram_container" id="logical_data_l1_input_dig"></div>
    </div>
    <div id="tab05" class="tab-contents">
        <div class="col-md-12 diagram_container" id="logical_data_l1_output_dig"></div>
    </div>
    <div id="tab06" class="tab-contents">
        <div class="col-md-12 diagram_container" id="logical_data_l1_process_dig"></div>
    </div>

    <div class="col-md-12 text_container" style="display:  none" id="logical_data_l2_txt_input">
        <ul class="list_level0">
            {% for ldK, ldV in ld_input_lc.items %}
                <li class="li-list_level0 col-4" style="border-bottom: 1px solid #2e6da4;">
                    <span>{{ ldK }}</span>
                    <ul class="list_level1">
                        {% for vK, vV in ldV.items %}
                            <li class="li-list_level1 {{ vK }}">
                                <span>{{ vK }}</span>

                                {% if vK == "group_members" %}
                                    <ul class="list_level2">
                                        {% for k, v in vV.items %}
                                            <li class="li-list_level2 ">
                                                <span class="key">{{ k }}</span>
                                                <span class="value">{{ v }}</span>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% else %}
                                    <ul class="list_level2">
                                        {% for v in vV %}
                                            <li class="li-list_level2">{{ v }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-md-12 text_container" style="display: none" id="logical_data_l2_txt_output">
        <ul class="list_level0">
            {% for ldK, ldV in ld_output_lc.items %}
                <li class="li-list_level0 col-4" style="border-bottom: 1px solid #2e6da4;">
                    <span>{{ ldK }}</span>
                    <ul class="list_level1">
                        {% for vK, vV in ldV.items %}
                            <li class="li-list_level1 {{ vK }}">
                                <span>{{ vK }}</span>

                                {% if vK == "group_members" %}
                                    <ul class="list_level2">
                                        {% for k, v in vV.items %}
                                            <li class="li-list_level2 test">
                                                <span class="key">{{ k }}</span>
                                                <span class="value">{{ v }}</span>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% else %}
                                    <ul class="list_level2">
                                        {% for v in vV %}
                                            <li class="li-list_level2">{{ v }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-md-12 text_container" style="display: none" id="logical_data_l2_txt_process">
        <ul class="list_level0">
            {% for ldK, ldV in ld_process_lc.items %}
                <li class="li-list_level0 col-4" style="border-bottom: 1px solid #2e6da4;">
                    <span>{{ ldK }}</span>
                    <ul class="list_level1">
                        {% for vK, vV in ldV.items %}
                            <li class="li-list_level1 {{ vK }}">
                                <span>{{ vK }} </span>

                                {% if vK == "group_members" %}
                                    <ul class="list_level2">
                                        {% for k, v in vV.items %}
                                            <li class="li-list_level2 test">
                                                <span class="key">{{ k }} </span>
                                                <span class="value">{{ v }} </span>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% else %}
                                    <ul class="list_level2">
                                        {% for v in vV %}
                                            <li class="li-list_level2">{{ v }} </li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}

                            </li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-md-12 text_container" style="display: none" id="shared_vars_holder">
        <ul class="shared_var_list">
            {% for name, var in shared_vars_names.items %}
                <li class="li-list_level2">
                    <span>{{ name }}</span>
                    {% if name == 'variables' %}
                        <ul class="list_level1">
                            {% for v in var %}
                                <li class="li-list_level0">{{ v }} </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-md-12 text_container" style="display: none" id="logical_component_l1_holder">
        <ul class="thread_list">
            {% for t, f in logical_comps.items %}
                <li class="li_thread_id col-4" style="border-bottom: 1px solid #2e6da4;">
                    <span>{{ t }}</span>
                    <p class="thr_func">{{ f }}</p>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-md-12 text_container" style="display: block" id="thread_var_input">
        <ul class="thread_list">
            {% for lc, td in thread_var_input.items %}
                <li class="li_thread_id col-4" style="border-bottom: 1px solid #2e6da4;">
                    <span>{{ lc }}</span>
                    {% for name, type in td.items %}
                        <p class="td_lc">{{ name }}</p>
                    {% endfor %}
                </li>
            {% endfor %}
        </ul>
    </div>

    <script src="{% static 'js/LD_L3.js' %}" type="text/javascript"></script>
{% endblock %}