{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
     <nav class="navbar navbar-default">
        <div class="container-fluid">
            <h2>{{ title_name }}</h2>
            <h3> Logical Data - Level 0 </h3>
            <h4>Technical Data</h4>
        </div>
    </nav>
    {% if data_types_names|length > 0 %}
        <div class="alert alert-info" role="alert">
            <i class="fas fa-info-circle" style="color: #17a2b8" aria-hidden="true"></i>
            There are <strong class="see_it" style="text-decoration: underline;">{{ data_types_names|length }}</strong> number of DataTypes:
            <ul>
                {% for dt in data_types_names %}
                    <li><strong> {{ forloop.counter }}- {{ dt }}</strong></li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    <div class="tabs">
      <div class="tab-button-outer">
        <ul id="tab-button">
          <li><a href="#tab01" class="btn-info" style="display: none">Diagram</a></li>
          <li><a href="#tab02" class="btn-info" style="display: none">Textual</a></li>
        </ul>
      </div>
        <div class="tab-select-outer">
            <select id="tab-select">
                <option value="#tab01" class="shadow-sm rounded">Diagram</option>
                <option value="#tab02" class="shadow-sm rounded">Textual</option>
            </select>
        </div>
    </div>
    <div id="tab01" class="tab-contents">
        <div class="col-md-12 well diagram_container" id="logical_data_l0_diagram"></div>
    </div>
    <div id="tab02" class="tab-contents" style="display: none">
        <div class="col-md-12 well text_container" id="logical_data_l0_textual">
            <ul class="list_level0">
                {% for dK, dV in data_types.items %}
                    <li class="li-list_level0">
                        <span>{{ dK }}</span>

                        <ul class="list_level1">
                            {% for sK, sV in dV.items %}
                                <li class="li-list_level1">
                                    <span>{{ sK }} </span>

                                    <ul class="list_level2">
                                        {% for v in sV %}
                                            <li class="li-list_level2">{{ v }} </li>
                                        {% endfor %}
                                    </ul>
                                </li>
                            {% endfor %}

                        </ul>
                    </li>
                    <hr/>

                {% endfor %}
            </ul>

        </div>
    </div>

    <script src="{% static 'js/LD_L0.js' %}" type="text/javascript"></script>
{% endblock %}





