{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <h2>{{ title_name }}</h2>
            <h4>Logical Component Sub Views</h4>
        </div>
    </nav>


    <div class="tabs">
      <div class="tab-button-outer">
        <ul id="tab-button">
          <li><a href="#tab01" class="btn-info">Diagram</a></li>
          <li><a href="#tab02" class="btn-info" style="display: none">Textual</a></li>
        </ul>
      </div>
        <div class="tab-select-outer">
            <select id="tab-select">
                <option value="#tab01">Diagram</option>
                <option value="#tab02" style="display: none">Textual</option>
            </select>
        </div>
    </div>


    <div id="tab01" class="tab-contents">
        <div class="col-md-12 well diagram_container" id="logical_comp_diagram"></div>
    </div>
    <div id="tab02" class="tab-contents">
        <div class="col-md-12 text_container" style="display: none" id="logical_comp_textual">
            <ul class="list_level0">
                {% for t, f in thread_function.items %}
                    <li class="li-list_level0">
                        <span>{{ t }}</span>
                        <ul class="list_level1">
                            <li class="li-list_level1" >
                                {{ f }}
                            </li>

                        </ul>
                    </li>

                {% endfor %}
            </ul>
        </div>
    </div>

    <script src="{% static 'js/LComp_L0.js' %}" type="text/javascript"></script>
{% endblock %}