{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <h2>{{ title_name }} </h2>
            <h2> Logical Data - Level 2 </h2>
            <h4> Nested Functions View</h4>
        </div>
    </nav>
    {% if not logical_data_function %}
        <div class="alert alert-danger" role="alert">
            <i class="fas fa-times"></i>
            No group for this level of Logical Data has been created.</br>
            The list of functions is Empty
        </div>
    {% else %}
        <div class="alert alert-info" role="alert"  style="display: none">
            <i class="fas fa-info-circle" style="color: #17a2b8" aria-hidden="true"></i>
            There are <strong class="see_it" style="text-decoration: underline;">{{ logical_data_function|length }}</strong> Logical Data which are nested function:
            <ul>
                {% for dt in logical_data_function %}
                    <li><strong> {{ forloop.counter }}- {{ dt }}</strong></li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    <div class="tabs">
        <div class="tab-button-outer">
            <ul id="tab-button">
                <li id="for_tab03" class="col-md-3" style="padding-right:0 "><a href="#tab03" class="btn-info"
                                                                                style="display: block;
                                                                                border-radius:3px 0 0 3px; ">
                    Diagram L2</a></li>
                <li id="for_tab04" class="col-md-3" style="padding-right:0; padding-left: 0 ">
                    <a href="#tab04" class="btn-info"
                       style="display: block; border-radius:0 0 0 0;
                       border-right: 1px solid #337ab7; border-left: 1px solid #337ab7;">
                        Diagram L1</a></li>
                <li id="for_tab01" class="col-md-3" style="padding-left:0; display: none"><a href="#tab01" class="btn-info"
                                                                               style="display: block;
                                                                               border-radius:0 3px 3px 0;">
                    Circular Diagram</a></li>
                <li id="for_tab02" class="col-md-3"><a href="#tab02" class="btn-info" style="display: none">Textual</a></li>
            </ul>
            </div>
            <div class="tab-select-outer">
                <select id="tab-select">
                    <option value="#tab01">Diagram</option>
                    <option value="#tab02">Textual</option>
                </select>
            </div>
    </div>
    <div id="tab01" class="tab-contents" style="display: none">
        <div class="col-md-12 well diagram_container" id="function_circular_diagram"></div>
    </div>
    <div id="tab03" class="tab-contents">
        <div class="alert alert-info col-md-12" role="alert">
            <div class="col-md-1" style="text-align: center">
                <i class="fas fa-info-circle" style="color: #17a2b8; font-size:30px" aria-hidden="true"></i>
            </div>
            <div class="col-md-5">
                <h4>
                    Total Number of Elements:
                    <strong style="font-weight: bold" id="ElementsNo">{{ total_elements }}</strong>
                </h4>
                <h4>
                    Total Number of Relation:
                    <strong style="font-weight: bold" id="RelationNo">{{ total_relations }}</strong>
                </h4>
            </div>
        </div>
        <div class="col-md-12 well diagram_container" id="logical_data_l2_function_diagram"></div>
    </div>
    <div id="tab04" class="tab-contents" style="display: none">
        <div class="col-md-12 well diagram_container" id="logical_data_l1_function_diagram"></div>
    </div>
    <div id="tab02" class="tab-contents" style="display: none">
        <div class="col-md-12 well textual_container" id="function_textual">
            <ul class="list_level0 col-md-12" id="function_circular_textual">
                {% for k,v in logical_data_function.items %}
                    <li class="li-list_level0 col-3" style="border-left: 1px solid #2e6da4;">
                    <span class="func_name" style="font-weight: bold ">{{ k }}</span>
                        <ul class="list_level1 {{ k }}">
                            {% for key, val in v.items %}
                                <li class="li-list_level1 {{ key }}" >
                                    {% for v in val %}
                                        <span class="value">{{ v }}</span>
                                    {% endfor %}
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
            </ul>
            <ul class="list_level0 col-md-12" id="all_var_accessed">
                {% for var in all_var_accessed %}
                    <li class="li-list_level1" id="{{ var }}_id">{{ var }}</li>
                {% endfor %}
            </ul>
            <ul class="list_level0 col-md-12" id="all_lc_accessed_nested_function">
                {% for var in all_lc_accessed_nested_function %}
                    <li class="li-list_level1">{{ var }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <script src="{% static 'js/LD_L2_function.js' %}" type="text/javascript"></script>
{% endblock %}