<!-- Sidebar Holder -->
<nav id="sidebar" >

    <div class="sidebar-header row">
        <h3>Interactive Visualization</h3>
        <strong>IV</strong>

    </div>

    <ul class="list-unstyled components">
        <li class="row">
            <a href="home" >
                <i class="fa fa-home col-2" aria-hidden="true"></i>
                <span class="col-9"> Dashboard </span>
            </a>
        </li>
        <li class="row traceVisCollapse l0">
            <a href="#SOASubmenu" data-toggle="collapse" aria-expanded="false">
                <i class="fa fa-upload col-2" aria-hidden="true"></i>
                <span class="col-6 mv-title"> Upload (SOA)</span>
                <i class="fa fa-chevron-down col-1 submenu-arrow" aria-hidden="true"></i>
                <ul class="collapse list-unstyled components dynamic-size" id="SOASubmenu">
                    <li class="row">
                        <a href="#">

                            <span class="col-9"> Upload Trace </span>

                        </a>
                    </li>
                    <li class="row">
                        <a href="#">

                            <span class="col-9"> Upload Code Block Trace </span>

                        </a>
                    </li>
                    <li class="row">
                        <a href="#">

                            <span class="col-9"> Upload Code </span>

                        </a>
                    </li>
                    <li class="row">
                        <a href="#">

                            <span class="col-9"> Upload Execution Path </span>

                        </a>
                    </li>
                    <li class="row">
                        <a href="#">

                            <span class="col-9"> Upload Non-Execution Path </span>

                        </a>
                    </li>
                    <li class="row">
                        <a href="#">

                            <span class="col-9"> Upload Shared Var Trace </span>

                        </a>
                    </li>
                </ul>

            </a>
        </li>

        <li class="row btn-info">
            <a  href="http://127.0.0.1:8000\trace_vis">
                <i class="fas fa-eye col-2" aria-hidden="true"></i>
                <span class="col-9"> Trace Vis.</span>
            </a>
        </li>

        <li class="row traceVisCollapse">
            <a  href="#benchmarksSubmenu" data-toggle="collapse" aria-expanded="false">
                <i class="fa fa-tachometer-alt col-2" aria-hidden="true"></i>
                <span class="col-9"> Benchmarks</span>

            </a>
        </li>
        <li class="row traceVisCollapse l0">
            <a  href="#ROSACESubmenu" data-toggle="collapse" aria-expanded="false">
                <i class="fa fa-tachometer-alt col-2 benchmark-icon"  aria-hidden="true"></i>
                <span class="col-6 mv-title">TACLe ROSACE</span>
                <i class="fa fa-chevron-down col-1 submenu-arrow benchmark-icon" aria-hidden="true"></i>
            </a>
            <ul class="collapse list-unstyled components dynamic-size" id="ROSACESubmenu">
                <!-- I want to send a string variable to the subnav.html file, then the id of the ul will be dynamic. -->
                {% with  href_id="ROSACE" %}
                    {% include 'sidebar_subnav.html' %}
                {% endwith %}
            </ul>
        </li>
        <li class="row traceVisCollapse l0">
            <a  href="#oceanSubmenu" data-toggle="collapse" aria-expanded="false">
                <i class="fa fa-tachometer-alt col-2 benchmark-icon"  aria-hidden="true"></i>
                <span class="col-6 mv-title">Splash OCEAN</span>
                <i class="fa fa-chevron-down col-1 submenu-arrow benchmark-icon" aria-hidden="true"></i>
            </a>
            <ul class="collapse list-unstyled components dynamic-size" id="oceanSubmenu">
                {% with  href_id="OCEAN" %}
                    {% include 'sidebar_subnav.html' %}
                {% endwith %}
            </ul>
        </li>
        <hr/>
    </ul>
</nav>