{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <h2>{{ title_name }}</h2>
            <h4>Timeline View - Access the Shared Variables through time</h4>
        </div>
    </nav>
    <div class="tabs">
        <div class="tab-button-outer">

            <ul id="tab-button">
              <li><a href="#tab01" class="btn-info" style="display:block">Diagram</a></li>
              <li><a href="#tab02" class="btn-info">Textual</a></li>
            </ul>
        </div>
        <div class="tab-select-outer">
            <select id="tab-select">
                <option value="#tab01" class="shadow-sm rounded">Diagram</option>
                <option value="#tab02" class="shadow-sm rounded">Textual</option>
            </select>
        </div>
    </div>
    <div id="tab01" class="tab-contents">
        <div class="col-md-2" style="margin-top: 10em" id="time_stamp_list">
            {% for ts in  time_stamp_list %}
                <p style="padding: 2em">{{ ts }}</p>
            {% endfor %}
        </div>
        <div class="col-md-10 well diagram_container" id="time_line_diagram"></div>
    </div>
    <div id="tab02" class="tab-contents time_stamp_text">
        <div class="col-md-12 text_container" style="display: block" id="time_line_text">
            <ul class="list_level0">
                {% for k, v in thread_activity.items %}

                    <li class="li-list_level0 col-md-6">
                        <span>{{ k }}</span>
                        <ul class="list_level1">
                            {% for ts, tv in v.items %}
                                <li class="li-list_level1">
                                    <span class="time_stamp">{{ ts }}</span>
                                    <ul class="list_level2">
                                        {% for k in tv %}
                                            <li class="li-list_level2 activity">
                                                {% for kkey, kval in k.items %}
                                                    <span class="key">{{ kkey }}</span>
                                                    <span class="val {{ kkey }}">{{ kval }}</span>
                                                {% endfor %}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </li>

                            {% endfor %}
                        </ul>
                    </li>

                {% endfor %}
            </ul>
        </div>
    </div>
    <script src="{% static 'js/TimeLine_View.js' %}" type="text/javascript"></script>

{% endblock %}
