{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <nav class="navbar navbar-default">
        <div class="container-fluid">
                <h2>Visualization of MultiThreaded Programs.</h2>
            <p>This is a Master's thesis for visualizing the trace data of a multithreaded program,
                which contain the involving threads, their access to shared resources and their relationship.
            </p>
        </div>
    </nav>
    <div class="col-md-12">
        <div class="col-md-12">
            {% if error != "" %}
                <div class="alert alert-danger" role="alert">{{ error }}</div>
            {% endif %}
        </div>
        <div class="col-md-12 trace_file_form shadow-sm">
            <h2>You can upload your Trace file (txt) here:</h2>
            <form method="post" enctype="multipart/form-data" class="form-inline needs-validation trace_file_upload" id="trace_file_upload" novalidate>
                {% csrf_token %}
                <div class="form-group col-md-3">
                    <input type="text" class="form-control program_name" placeholder="Enter Name of your Program" id="program_name" name="program_name">
                </div>
                <div class="input-group" id="custom-file">

                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroupFileAddon01">
                            <i class="fa fa-upload" aria-hidden="true"></i>
                        </span>
                    </div>
                    <div class="custom-file rounded" >
                        <input type="file" name="trace_file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01" required>
                        <label class="custom-file-label" for="inputGroupFile01">Choose File</label>
                        <div class="invalid-feedback empty-file">Please enter a trace file.</div>
                        <div class="invalid-feedback wrong-format">Valid format of the file is txt.</div>
                    </div>

                </div>
                <div class="form-group col-md-3">
                    <button type="submit" class="btn btn-primary">Upload</button>
                </div>
            </form>

        </div>
        <div class="col-md-12" style="font-size: 2em;">
            <h2><strong>OR</strong></h2>
        </div>
        <div class="col-md-12 select_file_form shadow-sm">
            <h2>You can select from the files which uploaded before:</h2>
            <form method="post" enctype="multipart/form-data" class="form-inline select_trace_file" id="select_trace_file">
                {% csrf_token %}
                <div class="invalid-feedback" id="empty-list">Please select a trace file from the list.</div>
                <div class="form-group col-md-6">
                    <select class="browser-default custom-select form-group select_tag_file" id="select_tag_file" name="select_tag_file">
                      <option value="" selected>Chose between uploaded files</option>
                        {% for f in existing_files %}
                            <option value="{{ f }}">{{ f }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group col-md-3">
                    <button type="submit" class="btn btn-primary">Load</button>
                </div>

            </form>
        </div>

    </div>

    {% if url %}
        <div class="col-md-12 file_uploaded">
            <div class="alert alert-success" role="alert">
                <h3>
                    <i class="far fa-check-circle" aria-hidden="true" style="color: #155724"></i>
                    <span>Your file has been uploaded</span>
                </h3>
                <br/>
                <p>Program Name: <strong> {{ program_name }} </strong></p>
                <p>File Path:  <a href="{{ url }}" target="_blank"> {{ url }}</a> </p>
                <p>
                    <i class="fas fa-info-circle" style="color: #17a2b8" aria-hidden="true"></i>
                    <span>Please check the side bar to access the diagrams</span>

                </p>
            </div>
        </div>
    {% endif %}



{% endblock %}